$colorTextBlue: #2188f6;
$colorTextHover: #302a3e;
.btn_vk {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  gap: 8px;
  padding: 22px 32px;
  border-radius: 160px;
  background-color: $colorTextBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  transition: 0.5s;
  &:hover {
    background-color: #2148f6;
  }
}
.btn_enter {
  border: transparent;
  color: #fff;
  width: 292px;
  height: 56px;
  border-radius: 160px;
  background: #302a3e;
}
.btn_clas {
  color: $colorTextHover;
  padding: 22px 32px;
  font-size: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: 2px solid #302a3e;
  background-color: transparent;
  border-radius: 160px;
  border: 2px solid #302a3e;
}
